
@font-face {
    font-family: roboto;
    src: url(../bower/roboto-webfont/fonts/Roboto-Regular-webfont.ttf);
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url(../bower/roboto-webfont/fonts/Roboto-Light-webfont.ttf);
    font-weight: 200;
}

@font-face {
    font-family: roboto;
    src: url(../bower/roboto-webfont/fonts/Roboto-Thin-webfont.ttf);
    font-weight: 100;
}

@font-face {
    font-family: roboto;
    src: url(../bower/roboto-webfont/fonts/Roboto-Bold-webfont.ttf);
    font-weight: 600;
}

body, html{
	margin: 0;
	padding: 0;
	color: #eee;
	font-family: roboto;
	font-weight: 200;
	height: 100%;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

html{
	overflow: hidden;
}

body .bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: -1;
}

body .bg img{
	position: relative;
	width: 100%;
	opacity: 0.7;
}

h1.title{
	width: 100%;
	text-align: left;
	font-weight: 100;
	font-size: 2em;
	margin: 0;
	letter-spacing: 0.5em;
}

h1.title small{
	letter-spacing: 0;
	font-size: 0.3em;
	opacity: 0.5;
}

h1.title img{
	position: relative;
	top: 0.05em;
	height: 1.5em;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
	margin-right: -0.5em;
}


.notifications{
	width: 95%;
	max-width: 1080px;
	min-height: 20px;
	max-height: 150px;
	margin: 0 auto;
	padding: 1em;
	background-color: rgba(0,0,0,0.5);
}
.notifications span{
	display: block;
	position: relative;
	margin-bottom: 5px;
}

.notifications span:before{
	content: "•";
	font-size: 2em;
	position: absolute;
	top: -0.3em;
	left: -0.5em;
}

.middle{
	width: 100%;
	max-height: calc(100% - 200px);
	white-space: nowrap;
}

.middle > div{
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	padding: 1em;
	white-space: normal;
}

.foots{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	white-space: nowrap;
}

.foots > div{
	width: 33%;
	display: inline-block;
	white-space: normal;
	box-sizing: border-box;
	padding: 0.5em;
	vertical-align: bottom;
	position: relative;
	bottom: 2em;
}


.foots > div.center{
	text-align: center;
}

.foots > div.right{
	text-align: right;
		font-weight: 100;
}

.foots > div .hour{
	font-weight: 100;
	font-size: 200%;
	letter-spacing: 0.1em;
}

.foots > div.right i{
	font-size: 150%;
	vertical-align: bottom;
}

.foots .device_title{
	position: relative;
	font-size: 1.6em;
	font-weight: 100;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	bottom: 1.5em;
}

.foots .img_title{
	font-weight: 100;
	opacity: 0.7;
}

@media (min-width: 1080px) {
	body{
		border: 3em solid transparent;
		font-size: 120%;
	}
}




