<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>

	<title>SATELLITE</title>

	<link rel="stylesheet" type="text/css" href="bower/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="/bower/angular/angular.min.js" type="text/javascript"></script>
	<script src="/bower/x2js/xml2json.min.js" type="text/javascript"></script>

	<script src="/js/app.js" type="text/javascript"></script>

</head>
<body ng-controller="mainCtrl as main">
	<div class="bg">
		<img ng-src="{{main.bgs[main.currentbg].url}}" />
	</div>

	<h1 class="title">
	<img src="images/logo_min.png"/>
		ATELLITE<small>v{{main.device.version}}</small>
	</h1>
	
	<div class="notifications row">
		<span ng-repeat="notification in main.notifications">
			{{notification}}
		</span>
	</div>
	<div class="middle">
		<div>
			
		</div>
		<div>

		</div>
	</div>
	<div class="foots">
		<div class="left img_title">
			<span class="hour">{{main.clock}}</span><br>
			<i class="fa fa-picture-o"></i> 
			<i class="fa fa-cloud" ng-hide="main.corsError"></i> 
			{{main.bgs[main.currentbg].title}}
		</div>
		<div class="center device_title">
			<i class="fa fa-tv"></i> 
			{{main.device.name}}
		</div>
		<div class="right">
			<i class="fa fa-wifi" ng-show="main.wifi"></i>
			<i class="fa fa-ban" ng-hide="main.wifi"></i>
			<span ng-show="main.wifi">Connected to <b>{{main.wifi}}</b></span>
			<span ng-show="!main.wifi">Connection not available</span>
		</div>
	</div>


</body>
</html>